# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
.terraformrc
terraform.rc

# Python
__pycache__/
*.py[cod]
*.class
venv/
.env

# IDE & OS
.idea/
.vscode/
.DS_Store
